/* @override http://localhost/fp/_themes/default/_css/_alt/very%20dark%20grey.css */

/* Modified : September 1, 2008, 1:22 am  */

/* Title Color: The large type at the top of the page, usually your name, an exhibition name, or a gallery name. */

#header-title {
	color: #eee;
}

/* Subtitle Color : This is the smaller type in the header, usually your name or a gallery name. */

#header-subtitle {
	color: #aaa;
}

/* Footer Text Color: Text at the bottom of page */

#foot {
	color: #888;
}

/* Go To Links: Text links to exhibitions, slide shows, and so on. This is the default link color. */

a:link {
	color: #ffb;
}

a:visited {
	color: #ffb;
}

a:hover {
	color: #fff04c;
}

a:active {
	color: #b3a835;
}

/* Text Color in FAQ, About..., Stories, etc. */

body {
	color: #ddd;
}

#page.listpage {
	color: #ddd;
}

/* Location Text :  In an exhibition, the text which names where the pictures or artwork was created.  */

div.gallery-description  div.location {
	color: #eee;
}

/* Project title : The exhibition title in the exhibition information. */

div.gallery-description  div.projecttitle {
	color: #fff;
}

div.gallery-description div.projectowner {
	color: #fff;
}

div.gallery-description div.statement {
	color: #eee;
}

/* Current Menu Item: The color of the menu item that matches the page you are looking at.  */

a.navbar.selected:link {
	color: #eee;
}


/* Other Menu Items: The color of the menu items for other pages. */

a.navbar.unselected:link {
	color: #ccc;
}

/* Other Menu Items: The color of the menu items for other pages. */

a.navbar.unselected:visited {
	color: #ccc;
}

/* Menu bar divider : The color of the divider between each menu item. */

.navbardivider {
	color: #888;
}

/* ADVANCED - Gallery statement and description text */

.gallery-description {
	color: #eee;
}

/* ADVANCED - Project Title in a Gallery (top of page) */

.groups #header-title {
	color: #999999;
}

/* ADVANCED - Gallery Listing navigation: Links to go to different galleries near bottom of page. */

.group-nav {
	color: #ccc;
}

/* ADVANCED - Gallery Listing navigation: Links to go to different galleries near bottom of page - link */

a.navbar:link {
	color: #eee;
}

a.navbar:visited {
	color: #eee;
}

/* ADVANCED - Gallery Listing navigation: Links to go to different galleries near bottom of page - hover */

a.navbar:hover {
	color: #fff04c;
}

/* ADVANCED - Gallery Listing navigation: Links to go to different galleries near bottom of page - active */

a.navbar:active {
	color: #b3a835;
}

/* ADVANCED - Menu bar - current page - visited */

a.navbar.selected:visited {
	color: #eee;
}

/* ADVANCED - Menu bar - current page - hover */

a.navbar.selected:hover {
	color: #fff04c;
}

/* ADVANCED - Menu bar - current page - active */

a.navbar.selected:active {
	color: #b3a835;
}

/* ADVANCED - Menu bar - other pages - hover */

a.navbar.unselected:hover {
	color: #fff04c;
}

/* ADVANCED - Menu bar - other pages - click */

a.navbar.unselected:active {
	color: #b3a835;
}

/* ADVANCED - Menu bar - slide show */

.navbar .slideshow a:link {
	color: #eee;
}

/* ADVANCED - Menu bar - slide show */

a.navbar.slideshow:visited {
	color: #eee;
}

/* ADVANCED - Menu bar - slide show - click/hover */

a.navbar.slideshow:hover,
a.navbar.slideshow:active {
	color: #fff;
}

/* ADVANCED - Gallery - Popup picture - close link */

#popup_close {
	color: #222;
}

/* ADVANCED - Gallery - Popup picture - previous link */

#popup_prev {
	color: #222;
}

/* ADVANCED - Gallery - Popup picture - next link */

#popup_next {
	color: #222;
}

/* Caption Title */

div.captionblock div.title {
	color: #ddd;
}

/* Overlaid Caption Color */

#lightbox-infoContainer-overlay div.title {
	color: #111;
}

/* Caption Color */

div.captionblock div.caption {
	color: #ccc;
	line-height: 1.3em;
	font-size: 11px;
}

/* Overlaid Caption Color */

#lightbox-infoContainer-overlay div.caption {
	color: #111;
}

#lightbox-navBox a:link,#lightbox-navBox a:visited {
	color: #fff;
}

#lightbox-navBox a:hover {
	color: #fff04c;
}

#lightbox-navBox a:active {
	color: #b3a835;
}

/* ---------- BACKGROUND COLORS ---------- */

/* Background Color */

body {
	background-color: #2d2d2d;
}

#page.listpage {
	background-color: #2d2d2d;
}

/* Popup picture background color */

#lightbox-overlay {
	background-color: #2d2d2d;
}

/* Menu Bar Color */

.navbar-container {
	background-color: transparent;
}

/* ADVANCED - Menu bar - Gallery Listing */

.groups .navbar-container {
	background-color: transparent;
}

/* ADVANCED - Menu bar - Gallery */

.gallery .navbar-container {
	background-color: transparent;
}

/* ADVANCED - Menu bar - Exhibition Listing */

.listpage .navbar-container {
	background-color: transparent;
}

/* ADVANCED - Menu bar - Slideshow*/

.slideshow .navbar-container {
	background-color: transparent;
}

/* ADVANCED - Exhibition buttons: Links and buttons for tear sheets, Buy Print, etc. */

.gallery-info-link button {
	background-color: transparent;
}

/* ADVANCED - Exhibition buttons - click: Links and buttons for tear sheets, Buy Print, etc. */

.gallery-info-link button:active {
	background-color: transparent;
}

/* ADVANCED - Exhibition buttons - hover: Links and buttons for tear sheets, Buy Print, etc. */

.gallery-info-link button:hover {
	background-color: transparent;
}

/* ---------- BORDERS ---------- */

/* Exhibition Vertical Line : The color of the vertical line dividing the exhibition information from the pictures. */

.gallery-description-divider {
	border-color: #444;
}

/* Menu Bar Border Colors: The thin lines above and below the menu bar.   */

.navbar-container {
	border-color: #666;
}

/* Footer Top Border : A thin line above the footer area at the bottom. */

#footer-box {
	
}

/* ADVANCED - Menu bar - Exhibition: Use "transparent" to remove borders. */

.gallery .navbar-container {
	border-color: #666;
}

/* ADVANCED - Menu bar - Gallery Listing: Use "transparent" to remove borders. */

.groups .navbar-container {
	border-color: transparent;
}

/* ADVANCED - Menu bar - Exhibition Listing: Use "transparent" to remove borders. */

.listpage .navbar-container {
	border-color: #666;
}

/* ADVANCED - Menu bar - Slideshow: Use "transparent" to remove borders. */

.slideshow .navbar-container {
	border-color: transparent;
}

/* ADVANCED - Exhibition Links/buttons: Links and buttons for tear sheets, Buy Print, etc. */

.gallery-info-link button {
	color: #eee;
}

/* ADVANCED - Exhibition Links: Links and buttons for tear sheets, Buy Print, etc. - Links */

.gallery-info-link a:link, .gallery-info-link a:visited {
	color: #ffb;
}

/* ADVANCED - Exhibition Links: Links and buttons for tear sheets, Buy Print, etc. - Hover */

.gallery-info-link a:hover {
	color: #fff04c;
}

/* ADVANCED - Exhibition Links: Links and buttons for tear sheets, Buy Print, etc.  - Active */

.gallery-info-link a:active {
	color: #b3a835;
}

/* ---------- FONTS ---------- */

/* Default Website Font */

html {
	font-family: "Lucida Sans Unicode", "Lucida Grande", "Trebuchet MS", Helvetica, Verdana, Geneva, Arial, sans-serif;
}

/* Title and Subtitle Font */

#header {
	font-family: "Lucida Sans Unicode", "Lucida Grande", "Trebuchet MS", Helvetica, Verdana, Geneva, Arial, sans-serif;
}

/* Story Font */

.story P {
	font-family: Georgia, "MS Serif", "New York", "Palatino Linotype";
}

/* ADVANCED - Top Menu bar font */

#topnav {
	font-family: "Lucida Sans Unicode", "Lucida Grande", "Trebuchet MS", Helvetica, Verdana, Geneva, Arial, sans-serif;
}

/* ADVANCED - Bottom Menu bar font */

#bottomnav {
	font-family: "Lucida Sans Unicode", "Lucida Grande", "Trebuchet MS", Helvetica, Verdana, Geneva, Arial, sans-serif;
}

/* ADVANCED - Title on informational page, e.g. FAQ */

div.info-title {
	color: #191917;
}

/* ---------- FRAMESHOP ---------- */

/* ADVANCED - Bottom Menu bar font */

div.infobox {
	color: #ddd;
	background-color: #333;
	border-width: 1px;
	border-color: #ccc;
}

/* ---------- OTHER ---------- */