/* @override http://localhost/fp/_themes/003_book/_css/_alt/centered.css */

/* ---------- OTHER ---------- */
.gallerytable {
	margin-left: auto;
	margin-right: auto;
}

.ui-icon {
	background-image: url(../../../default/_img/ui/ui-icons_222222_256x240.png);
}
