/* @override 
	http://localhost/fp/_themes/003_book/_css/_alt/olive.css
*/

/* Modified : August 31, 2008, 4:37 pm  */
/* Title Color: The large type at the top of the page, usually your name, an exhibition name, or a gallery name. */
#header-title { color : white; }

/* Subtitle Color : This is the smaller type in the header, usually your name or a gallery name. */
#header-subtitle { color : white; }

/* Footer Text Color: Text at the bottom of page */
#foot { color : white; }

/* Go To Links: Text links to exhibitions, slide shows, and so on. This is the default link color. */
a:link, a:visited { color: #fff; }

a:hover { color: #d8bf41; }

a:active { color: #ffdc23; }

/* Text Color in FAQ, About..., Stories, etc. */
body { color : white; }

/* Location Text :  In an exhibition, the text which names where the pictures or artwork was created.  */
div.gallery-description  div.location { color: #eee; }

/* Project title : The exhibition title in the exhibition information. */
div.gallery-description  div.projecttitle { color: #fff; }

div.gallery-description div.projectowner { color: #fff; }

div.gallery-description div.statement { color: #eee; }

/* Current Menu Item: The color of the menu item that matches the page you are looking at.  */
a.navbar.selected:link { color : #fff; }

/* Current Menu Items: Current Menu Item: The color of the menu item that matches the page you are looking at. */
a.navbar.selected:visited { color : #fff; }

/* Other Menu Items: The color of the menu items for other pages. */
a.navbar.unselected:link { color : #ccc; }

/* Other Menu Items: The color of the menu items for other pages. */
a.navbar.unselected:visited { color : #ccc; }

/* Menu bar divider : The color of the divider between each menu item. */
.navbardivider { color : #ccc }

/* ADVANCED - Gallery statement and description text */
.gallery-description { color : white; }

/* ADVANCED - Project Title in a Gallery (top of page) */
.groups #header-title { color : white; }

/* ADVANCED - Gallery Listing navigation: Links to go to different galleries near bottom of page. */
.group-nav { color : #ccc; }

/* ADVANCED - Gallery Listing navigation: Links to go to different galleries near bottom of page - link */
.navbar a:link, .navbar a:visited { color: #ffe32f; }

/* ADVANCED - Gallery Listing navigation: Links to go to different galleries near bottom of page - hover */
.navbar a:hover { color: #d8bf41; }

/* ADVANCED - Gallery Listing navigation: Links to go to different galleries near bottom of page - active */
.navbar a:active { color: #ffdc23; }

/* ADVANCED - Menu bar - current page - hover */
.navbar .selected a:hover { color : #d8bf41; }

/* ADVANCED - Menu bar - current page - active */
.navbar .selected a:active { color: #d8c147; }

/* ADVANCED - Menu bar - other pages - hover */
.navbar .unselected a:hover { color: #d8bf41; }

/* ADVANCED - Menu bar - other pages - click */
.navbar .unselected a:active { color: #d8c147; }

/* ADVANCED - Menu bar - slide show */
.navbar .slideshow a:link, .navbar.slideshow a:visited { color: #eee; }

/* ADVANCED - Menu bar - slide show - click/hover */
.navbar .slideshow a:hover, .navbar.slideshow a:active { color: #fff; }

/* ADVANCED - Gallery - Popup picture - close link */
#popup_close { color : white; }

/* ADVANCED - Gallery - Popup picture - previous link */
#popup_prev { color : white; }

/* ADVANCED - Gallery - Popup picture - next link */
#popup_next { color: #222; }

/* Caption Title */
div.captionblock div.title { color: #fff; }

/* Overlaid Caption Color */
#lightbox-infoContainer-overlay div.title { color: #F11; }

/* Caption Color */
div.captionblock div.caption { color: #222;
line-height: 1.3em;
font-size: 11px; }

/* Overlaid Caption Color */
#lightbox-infoContainer-overlay div.caption { color: #111; }

#lightbox-navBox a:link,#lightbox-navBox a:visited { color: #ffe32f; }

#lightbox-navBox a:hover { color: #d8bf41; }

#lightbox-navBox a:active { color: #d8c147; }

/* ---------- BACKGROUND COLORS ---------- */
/* Background Color */
body { background-color : #40390C; }

/* Popup picture background color */
#lightbox-overlay { background-color: #40390C; }

/* Menu Bar Color */
.navbar-container { background-color : transparent; }

/* ADVANCED - Menu bar - Gallery Listing */
.groups .navbar-container { background-color : transparent; }

/* ADVANCED - Menu bar - Gallery */
.gallery .navbar-container { background-color : transparent; }

/* ADVANCED - Menu bar - Exhibition Listing */
.listpage .navbar-container { background-color : transparent; }

/* ADVANCED - Menu bar - Slideshow*/
.slideshow .navbar-container { background-color : transparent; }

/* ADVANCED - Exhibition buttons: Links and buttons for tear sheets, Buy Print, etc. */
.gallery-info-link button { background-color: transparent; }

/* ADVANCED - Exhibition buttons - click: Links and buttons for tear sheets, Buy Print, etc. */
.gallery-info-link button:active { background-color: transparent; }

/* ADVANCED - Exhibition buttons - hover: Links and buttons for tear sheets, Buy Print, etc. */
.gallery-info-link button:hover { background-color: transparent; }

/* ---------- BORDERS ---------- */
/* Exhibition Vertical Line : The color of the vertical line dividing the exhibition information from the pictures. */
.gallery-description-divider { border-color : transparent; }

/* Menu Bar Border Colors: The thin lines above and below the menu bar.   */
.navbar-container { border-color : transparent; }

/* Footer Top Border : A thin line above the footer area at the bottom. */
#footer-box {  }

/* ADVANCED - Menu bar - Exhibition: Use "transparent" to remove borders. */
.gallery .navbar-container { border-color : transparent; }

/* ADVANCED - Menu bar - Gallery Listing: Use "transparent" to remove borders. */
.groups .navbar-container { border-color : transparent; }

/* ADVANCED - Menu bar - Exhibition Listing: Use "transparent" to remove borders. */
.listpage .navbar-container { border-color : transparent; }

/* ADVANCED - Menu bar - Slideshow: Use "transparent" to remove borders. */
.slideshow .navbar-container { border-color : transparent; }

/* ADVANCED - Exhibition Links/buttons: Links and buttons for tear sheets, Buy Print, etc. */
.gallery-info-link button { color: #ffe32f; }

/* ADVANCED - Exhibition Links: Links and buttons for tear sheets, Buy Print, etc. - Links */
a.gallery-info-link:link { color: #111; }

/* ADVANCED - Exhibition Links: Links and buttons for tear sheets, Buy Print, etc. - Links */
a.gallery-info-link:visited { color: #111; }

/* ADVANCED - Exhibition Links: Links and buttons for tear sheets, Buy Print, etc. - Hover */
a.gallery-info-link:hover { color: #666; }

/* ADVANCED - Exhibition Links: Links and buttons for tear sheets, Buy Print, etc.  - Active */
a.gallery-info-link:active { color: #b29400; }

/* ---------- FONTS ---------- */
/* Default Website Font */
html { font-family: "Lucida Sans Unicode", "Lucida Grande", "Trebuchet MS", Helvetica, Verdana, Geneva, Arial, sans-serif; }

/* Title and Subtitle Font */
#header { font-family: "Lucida Sans Unicode", "Lucida Grande", "Trebuchet MS", Helvetica, Verdana, Geneva, Arial, sans-serif;  }

/* Story Font */
.story P { font-family: Georgia, "MS Serif", "New York", "Palatino Linotype"; }

/* ADVANCED - Top Menu bar font */
#topnav {font-family: "Lucida Sans Unicode", "Lucida Grande", "Trebuchet MS", Helvetica, Verdana, Geneva, Arial, sans-serif;  }

/* ADVANCED - Bottom Menu bar font */
#bottomnav { font-family: "Lucida Sans Unicode", "Lucida Grande", "Trebuchet MS", Helvetica, Verdana, Geneva, Arial, sans-serif;  }

/* ADVANCED - Title on informational page, e.g. FAQ */
div.info-title {
	color: #191917;
}


/* ---------- FRAMESHOP ---------- */
/* ADVANCED - Bottom Menu bar font */
div.infobox { color: #f7f7b9;
background-color: #7f7741;
border-width: 1px;
border-color: #ccc; }

/* ---------- OTHER ---------- */

div.gallery-description-callout {
	background-color: transparent;
	border: 1px solid #aaa;
}
.ui-icon {
	background-image: url(../../../default/_img/ui/ui-icons_222222_256x240.png);
}
